<!-- Page Title Start -->
<div class="page-title-head">
    <h4 class="page-main-title">@@title</h4>

    <div class="hidden items-center gap-1.25 text-sm md:flex">

        <a href="#" class="text-sm">Inspinia</a>

        <i class="iconify tabler--chevron-right text-sm rtl:rotate-180"></i>

        <a href="#" class="text-sm">@@subtitle</a>

        <i class="iconify tabler--chevron-right text-sm rtl:rotate-180"></i>

        <a href="#" class="text-default-400 text-sm " aria-current="page">@@title</a>
    </div>
</div>
<!-- Page Title End -->