<div>
    <div id="theme-customization" class="hs-overlay hs-overlay-open:translate-x-0 bg-card hs-overlay-open:flex fixed inset-y-0 end-0 bottom-0 z-80 hidden w-full max-w-[400px] translate-x-full transform flex-col overflow-hidden transition-all duration-300 rtl:-translate-x-full">
        <div class="bg-primary text-default-600 border-default-900/10 flex items-start gap-3 border-b border-dashed bg-[url(/images/settings-bg.png)] p-6">
            <div>
                <h5 class="mb-1.25 text-sm font-bold text-white uppercase">Admin Customizer</h5>
                <p class="font-medium text-white/75 italic">Easily configure layout, styles, and preferences for your admin interface.</p>
            </div>

            <div class="grow">
                <button type="button" data-hs-overlay="#theme-customization" class="btn btn-sm bg-default-100/20 size-7.5 rounded-full text-white">
                    <i class="iconify tabler--x text-base"></i>
                </button>
            </div>
        </div>

        <div class="h-full grow overflow-y-auto" data-simplebar="">
            <div class="divide-default-300 divide-y divide-dashed">
                <div id="skin" class="p-6">
                    <h5 class="text-md mb-5 font-bold">Select Theme</h5>
                    <div class="grid grid-cols-2 gap-3">
                        <div class="card-radio" id="skin-default">
                            <input class="hidden" type="radio" name="data-skin" id="demo-skin-default" value="default" />
                            <label class="form-label" for="demo-skin-default">
                                <img src="/images/layouts/skin-default.png" alt="layout-img" class="flex size-full rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">Default</h5>
                        </div>

                        <div class="card-radio" id="skin-minimal">
                            <input class="hidden" type="radio" name="data-skin" id="demo-skin-minimal" value="minimal" />
                            <label class="form-label" for="demo-skin-minimal">
                                <img src="/images/layouts/skin-minimal.png" alt="layout img" class="flex size-full rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">Minimal</h5>
                        </div>

                        <div class="card-radio" id="skin-modern">
                            <input class="hidden" type="radio" name="data-skin" id="demo-skin-modern" value="modern" />
                            <label class="form-label" for="demo-skin-modern">
                                <img src="/images/layouts/skin-modern.png" alt="layout-img" class="flex size-full rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">Modern</h5>
                        </div>

                        <div class="card-radio" id="skin-material">
                            <input class="hidden" type="radio" name="data-skin" id="demo-skin-material" value="material" />
                            <label class="form-label" for="demo-skin-material">
                                <img src="/images/layouts/skin-material.png" alt="layout-img" class="flex size-full rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">Material</h5>
                        </div>

                        <div class="card-radio" id="skin-saas">
                            <input class="hidden" type="radio" name="data-skin" id="demo-skin-saas" value="saas" />
                            <label class="form-label" for="demo-skin-saas">
                                <img src="/images/layouts/skin-saas.png" alt="layout-img" class="flex size-full rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">SaaS</h5>
                        </div>

                        <div class="card-radio" id="skin-flat">
                            <input class="hidden" type="radio" name="data-skin" id="demo-skin-flat" value="flat" />
                            <label class="form-label" for="demo-skin-flat">
                                <img src="/images/layouts/skin-flat.png" alt="layout-img" class="flex size-full rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">Flat</h5>
                        </div>

                        <div class="card-radio" id="skin-galaxy">
                            <input class="hidden" type="radio" name="data-skin" id="demo-skin-galaxy" value="galaxy" />
                            <label class="form-label" for="demo-skin-galaxy">
                                <img src="/images/layouts/skin-galaxy.png" alt="layout-img" class="flex size-full rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">Galaxy</h5>
                        </div>

                        <div class="card-radio" id="skin-luxe">
                            <input class="hidden" type="radio" name="data-skin" id="demo-skin-luxe" value="luxe" />
                            <label class="form-label" for="demo-skin-luxe">
                                <img src="/images/layouts/skin-luxe.png" alt="layout-img" class="flex size-full rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">Luxe</h5>
                        </div>

                        <div class="card-radio" id="skin-retro">
                            <input class="hidden" type="radio" name="data-skin" id="demo-skin-retro" value="retro" />
                            <label class="form-label" for="demo-skin-retro">
                                <img src="/images/layouts/skin-retro.png" alt="layout-img" class="flex size-full rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">Retro</h5>
                        </div>

                        <div class="card-radio" id="skin-neon">
                            <input class="hidden" type="radio" name="data-skin" id="demo-skin-neon" value="neon" />
                            <label class="form-label" for="demo-skin-neon">
                                <img src="/images/layouts/skin-neon.png" alt="layout-img" class="flex size-full rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">Neon</h5>
                        </div>

                        <div class="card-radio" id="skin-pixel">
                            <input class="hidden" type="radio" name="data-skin" id="demo-skin-pixel" value="pixel" />
                            <label class="form-label" for="demo-skin-pixel">
                                <img src="/images/layouts/skin-pixel.png" alt="layout-img" class="flex size-full rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">Pixel</h5>
                        </div>
                    </div>
                </div>

                <div class="p-5">
                    <h5 class="text-md mb-5 font-bold">Theme Direction</h5>

                    <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-base">
                        <div class="card-radio">
                            <input class="hidden" type="radio" name="dir" id="direction-ltr" value="ltr" />
                            <label class="form-label" for="direction-ltr">
                                <img src="/images/layouts/theme-light.png" alt="layout img" class="flex size-full rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">LTR Mode</h5>
                        </div>

                        <div class="card-radio">
                            <input class="hidden" type="radio" name="dir" id="direction-rtl" value="rtl" />
                            <label class="form-label" for="direction-rtl">
                                <img src="/images/layouts/theme-light.png" alt="layout img" class="flex size-full scale-x-[-1] rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">RTL Mode</h5>
                        </div>
                    </div>
                </div>

                <div id="sidenav-size" class="p-5">
                    <h5 class="text-md mb-5 font-bold">Sidenav View</h5>
                    <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-base">
                        <div class="card-radio" id="sidenav-size-default">
                            <input class="hidden" type="radio" name="data-sidenav-size" id="sidenav-view-default" value="default" />
                            <label class="form-label" for="sidenav-view-default">
                                <img src="/images/layouts/sidenav-size-default.png" alt="layout img" class="flex size-full rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">Default</h5>
                        </div>

                        <div class="card-radio" id="sidenav-size-compact">
                            <input class="hidden" type="radio" name="data-sidenav-size" id="sidenav-view-compact" value="compact" />
                            <label class="form-label" for="sidenav-view-compact">
                                <img src="/images/layouts/sidenav-size-compact.png" alt="layout img" class="flex size-full rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">Compact</h5>
                        </div>

                        <div class="card-radio" id="sidenav-size-condensed">
                            <input class="hidden" type="radio" name="data-sidenav-size" id="sidenav-view-condensed" value="condensed" />
                            <label class="form-label" for="sidenav-view-condensed">
                                <img src="/images/layouts/sidenav-size-condensed.png" alt="layout img" class="flex size-full rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">Condensed</h5>
                        </div>

                        <div class="card-radio" id="sidenav-size-on-hover">
                            <input class="hidden" type="radio" name="data-sidenav-size" id="sidenav-view-hover" value="on-hover" />
                            <label class="form-label" for="sidenav-view-hover">
                                <img src="/images/layouts/sidenav-size-condensed.png" alt="layout img" class="flex size-full rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">On Hover</h5>
                        </div>

                        <div class="card-radio" id="sidenav-size-on-hover-active">
                            <input class="hidden" type="radio" name="data-sidenav-size" id="sidenav-view-hover-active" value="on-hover-active" />
                            <label class="form-label" for="sidenav-view-hover-active">
                                <img src="/images/layouts/sidenav-size-default.png" alt="layout img" class="flex size-full rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">On Hover- Show</h5>
                        </div>

                        <div class="card-radio" id="sidenav-size-offcanvas">
                            <input class="hidden" type="radio" name="data-sidenav-size" id="sidenav-view-mobile" value="offcanvas" />
                            <label class="form-label" for="sidenav-view-mobile">
                                <img src="/images/layouts/sidenav-size-offcanvas.png" alt="layout img" class="flex size-full rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">Offcanvas</h5>
                        </div>
                    </div>
                </div>

                <div id="theme" class="p-5">
                    <h5 class="text-md mb-5 font-bold">Theme Mode</h5>
                    <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-base">
                        <div class="card-radio" id="theme-light">
                            <input class="hidden" type="radio" name="data-theme" id="layout-color-light" value="light" />
                            <label class="form-label" for="layout-color-light">
                                <img src="/images/layouts/theme-light.png" alt="layout img" class="flex size-full rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">Light</h5>
                        </div>

                        <div class="card-radio" id="theme-dark">
                            <input class="hidden" type="radio" name="data-theme" id="layout-color-dark" value="dark" />
                            <label class="form-label" for="layout-color-dark">
                                <img src="/images/layouts/theme-dark.png" alt="layout img" class="flex size-full rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">Dark</h5>
                        </div>

                        <div class="card-radio" id="theme-system">
                            <input class="hidden" type="radio" name="data-theme" id="layout-color-system" value="system" />
                            <label class="form-label" for="layout-color-system">
                                <img src="/images/layouts/theme-system.png" alt="layout img" class="flex size-full rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">System</h5>
                        </div>
                    </div>
                </div>

                <div id="sidenav-color" class="p-5">
                    <h5 class="text-md mb-5 font-bold">Sidenav Color</h5>
                    <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-base">
                        <div class="card-radio" id="sidenav-color-light">
                            <input class="hidden" type="radio" name="data-menu-color" id="menu-color-light" value="light" />
                            <label class="form-label" for="menu-color-light">
                                <img src="/images/layouts/sidenav-color-light.png" alt="layout img" class="flex size-full rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">Light</h5>
                        </div>

                        <div class="card-radio" id="sidenav-color-dark">
                            <input class="hidden" type="radio" name="data-menu-color" id="menu-color-dark" value="dark" />
                            <label class="form-label" for="menu-color-dark">
                                <img src="/images/layouts/sidenav-color-dark.png" alt="layout img" class="flex size-full rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">Dark</h5>
                        </div>

                        <div class="card-radio" id="sidenav-color-gradient">
                            <input class="hidden" type="radio" name="data-menu-color" id="menu-color-gradient" value="gradient" />
                            <label class="form-label" for="menu-color-gradient">
                                <img src="/images/layouts/sidenav-color-gradient.png" alt="layout img" class="flex size-full rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">Gradient</h5>
                        </div>

                        <div class="card-radio" id="sidenav-color-gray">
                            <input class="hidden" type="radio" name="data-menu-color" id="menu-color-gray" value="gray" />
                            <label class="form-label" for="menu-color-gray">
                                <img src="/images/layouts/sidenav-color-gray.png" alt="layout img" class="flex size-full rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">Gray</h5>
                        </div>

                        <div class="card-radio" id="sidenav-color-image">
                            <input class="hidden" type="radio" name="data-menu-color" id="menu-color-image" value="image" />
                            <label class="form-label" for="menu-color-image">
                                <img src="/images/layouts/sidenav-color-image.png" alt="layout img" class="flex size-full rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">Image</h5>
                        </div>
                    </div>
                </div>

                <div id="topbar-color" class="p-5">
                    <h5 class="text-md mb-5 font-bold">Topbar Color</h5>
                    <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-base">
                        <div class="card-radio" id="topbar-color-light">
                            <input class="hidden" type="radio" name="data-topbar-color" id="layout-topbar-color-light" value="light" />
                            <label class="form-label" for="layout-topbar-color-light">
                                <img src="/images/layouts/topbar-color-light.png" alt="layout img" class="flex size-full rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">Light</h5>
                        </div>

                        <div class="card-radio" id="topbar-color-dark">
                            <input class="hidden" type="radio" name="data-topbar-color" id="layout-topbar-color-dark" value="dark" />
                            <label class="form-label" for="layout-topbar-color-dark">
                                <img src="/images/layouts/topbar-color-dark.png" alt="layout img" class="flex size-full rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">Dark</h5>
                        </div>

                        <div class="card-radio" id="topbar-color-gradient">
                            <input class="hidden" type="radio" name="data-topbar-color" id="layout-topbar-color-gradient" value="gradient" />
                            <label class="form-label" for="layout-topbar-color-gradient">
                                <img src="/images/layouts/topbar-color-gradient.png" alt="layout img" class="flex size-full rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">Gradient</h5>
                        </div>

                        <div class="card-radio" id="topbar-color-gray">
                            <input class="hidden" type="radio" name="data-topbar-color" id="layout-topbar-color-gray" value="gray" />
                            <label class="form-label" for="layout-topbar-color-gray">
                                <img src="/images/layouts/topbar-color-gray.png" alt="layout img" class="flex size-full rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">Gray</h5>
                        </div>
                    </div>
                </div>

                <div id="width" class="p-5">
                    <h5 class="text-md mb-5 font-bold">Layout Width</h5>
                    <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-base">
                        <div class="card-radio" id="width-fluid">
                            <input class="hidden" type="radio" name="data-layout-width" id="layout-width-fluid" value="fluid" />
                            <label class="form-label" for="layout-width-fluid">
                                <img src="/images/layouts/width-fluid.png" alt="layout img" class="flex size-full rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">Fluid</h5>
                        </div>

                        <div class="card-radio" id="width-boxed">
                            <input class="hidden" type="radio" name="data-layout-width" id="layout-width-boxed" value="boxed" />
                            <label class="form-label" for="layout-width-boxed">
                                <img src="/images/layouts/width-boxed.png" alt="layout img" class="flex size-full rounded-md" />
                            </label>
                            <h5 class="text-md text-default-600 mt-2.5 text-center">Boxed</h5>
                        </div>
                    </div>
                </div>

                <div id="position" class="p-6">
                    <div class="flex items-center justify-between">
                        <h5 class="font-bold">Layout Position</h5>

                        <div class="flex gap-1">
                            <div id="position-fixed">
                                <input type="radio" class="peer hidden" name="data-layout-position" id="layout-position-fixed" value="fixed" />
                                <label class="btn btn-sm bg-warning/15 text-warning peer-checked:bg-warning peer-checked:text-white" for="layout-position-fixed">Fixed</label>
                            </div>
                            <div id="position-scrollable">
                                <input type="radio" class="peer hidden" name="data-layout-position" id="layout-position-scrollable" value="scrollable" />
                                <label class="btn btn-sm bg-warning/15 text-warning peer-checked:bg-warning peer-checked:text-white" for="layout-position-scrollable">Scrollable</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="sidenav-user" class="p-6">
                    <div class="flex items-center justify-between">
                        <label class="m-0 font-bold" for="sidebaruser-check">Sidebar User Info</label>
                        <input type="checkbox" class="form-switch" name="sidebar-user" id="sidebaruser-check" />
                    </div>
                </div>
            </div>
        </div>

        <div class="border-default-900/10 flex border-t p-5">
            <div class="grid w-full grid-cols-2 gap-4">
                <a href="#!" class="btn py-3 w-full bg-success hover:bg-success-hover text-white"> <i class="iconify tabler--basket"></i> Buy Now </a>
                <button type="button" class="btn py-3 w-full bg-danger text-white hover:bg-danger-hover" id="reset-layout"><i class="iconify tabler--refresh"></i> Reset</button>
            </div>
        </div>
    </div>
</div>
