<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="flex flex-wrap items-center">
            <div class="w-full md:w-1/2 text-center md:text-left">
                ©
                <script>
                    document.write(new Date().getFullYear())
                </script>
                Inspinia By
                <span class="font-semibold">WebAppLayers</span>
            </div>

            <div class="w-full md:w-1/2">
                <div class="hidden md:block md:text-right">
                    10GB of
                    <span class="font-bold">250GB</span>
                    Free.
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->
