<header class="topnav">
    <nav class="navbar navbar-expand-lg">
        <nav class="container-fluid">
            <div class="collapse navbar-collapse" id="topnav-menu">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle drop-arrow-none" href="#" id="topnav-main" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="menu-icon"><i class="ti ti-dashboard fs-xl"></i></span>
                            <span class="menu-text" data-lang="main">Main</span>
                            <div class="menu-arrow"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-main">
                            <a href="dashboard-projects.html" class="dropdown-item"><span data-lang="dashboard-projects">Projects</span></a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle drop-arrow-none" href="#" id="topnav-custom-pages" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="menu-icon"><i class="ti ti-files fs-xl"></i></span>
                            <span class="menu-text" data-lang="custom-pages">Custom Pages</span>
                            <div class="menu-arrow"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-custom-pages">
                            <a href="pages-empty.html" class="dropdown-item"><span data-lang="pages-empty">Empty Page</span></a>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-submenu-authentication" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span data-lang="authentication">Authentication</span>
                                    <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-submenu-authentication">
                                    <div class="dropdown">
                                        <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-submenu-auth-basic" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span data-lang="auth-basic">Basic</span>
                                            <div class="menu-arrow"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-submenu-auth-basic">
                                            <a href="auth-sign-in.html" class="dropdown-item"><span data-lang="auth-sign-in">Sign In</span></a>
                                            <a href="auth-sign-up.html" class="dropdown-item"><span data-lang="auth-sign-up">Sign Up</span></a>
                                            <a href="auth-reset-pass.html" class="dropdown-item"><span data-lang="auth-reset-pass">Reset Password</span></a>
                                            <a href="auth-new-pass.html" class="dropdown-item"><span data-lang="auth-new-pass">New Password</span></a>
                                            <a href="auth-two-factor.html" class="dropdown-item"><span data-lang="auth-two-factor">Two Factor</span></a>
                                            <a href="auth-lock-screen.html" class="dropdown-item"><span data-lang="auth-lock-screen">Lock Screen</span></a>
                                            <a href="auth-success-mail.html" class="dropdown-item"><span data-lang="auth-success-mail">Success Mail</span></a>
                                            <a href="auth-login-pin.html" class="dropdown-item"><span data-lang="auth-login-pin">Login with PIN</span></a>
                                            <a href="auth-delete-account.html" class="dropdown-item"><span data-lang="auth-delete-account">Delete Account</span></a>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-submenu-auth-card" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span data-lang="auth-card">Card</span>
                                            <div class="menu-arrow"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-submenu-auth-card">
                                            <a href="auth-card-sign-in.html" class="dropdown-item"><span data-lang="auth-card-sign-in">Sign In</span></a>
                                            <a href="auth-card-sign-up.html" class="dropdown-item"><span data-lang="auth-card-sign-up">Sign Up</span></a>
                                            <a href="auth-card-reset-pass.html" class="dropdown-item"><span data-lang="auth-card-reset-pass">Reset Password</span></a>
                                            <a href="auth-card-new-pass.html" class="dropdown-item"><span data-lang="auth-card-new-pass">New Password</span></a>
                                            <a href="auth-card-two-factor.html" class="dropdown-item"><span data-lang="auth-card-two-factor">Two Factor</span></a>
                                            <a href="auth-card-lock-screen.html" class="dropdown-item"><span data-lang="auth-card-lock-screen">Lock Screen</span></a>
                                            <a href="auth-card-success-mail.html" class="dropdown-item"><span data-lang="auth-card-success-mail">Success Mail</span></a>
                                            <a href="auth-card-login-pin.html" class="dropdown-item"><span data-lang="auth-card-login-pin">Login with PIN</span></a>
                                            <a href="auth-card-delete-account.html" class="dropdown-item"><span data-lang="auth-card-delete-account">Delete Account</span></a>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-submenu-auth-split" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span data-lang="auth-split">Split</span>
                                            <div class="menu-arrow"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-submenu-auth-split">
                                            <a href="auth-split-sign-in.html" class="dropdown-item"><span data-lang="auth-split-sign-in">Sign In</span></a>
                                            <a href="auth-split-sign-up.html" class="dropdown-item"><span data-lang="auth-split-sign-up">Sign Up</span></a>
                                            <a href="auth-split-reset-pass.html" class="dropdown-item"><span data-lang="auth-split-reset-pass">Reset Password</span></a>
                                            <a href="auth-split-new-pass.html" class="dropdown-item"><span data-lang="auth-split-new-pass">New Password</span></a>
                                            <a href="auth-split-two-factor.html" class="dropdown-item"><span data-lang="auth-split-two-factor">Two Factor</span></a>
                                            <a href="auth-split-lock-screen.html" class="dropdown-item"><span data-lang="auth-split-lock-screen">Lock Screen</span></a>
                                            <a href="auth-split-success-mail.html" class="dropdown-item"><span data-lang="auth-split-success-mail">Success Mail</span></a>
                                            <a href="auth-split-login-pin.html" class="dropdown-item"><span data-lang="auth-split-login-pin">Login with PIN</span></a>
                                            <a href="auth-split-delete-account.html" class="dropdown-item"><span data-lang="auth-split-delete-account">Delete Account</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-submenu-error-pages" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span data-lang="error-pages">Error Pages</span>
                                    <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-submenu-error-pages">
                                    <a href="error-400.html" class="dropdown-item"><span data-lang="error-400">400 Bad Request</span></a>
                                    <a href="error-401.html" class="dropdown-item"><span data-lang="error-401">401 Unauthorized</span></a>
                                    <a href="error-403.html" class="dropdown-item"><span data-lang="error-403">403 Forbidden</span></a>
                                    <a href="error-404.html" class="dropdown-item"><span data-lang="error-404">404 Not Found</span></a>
                                    <a href="error-408.html" class="dropdown-item"><span data-lang="error-408">408 Request Timeout</span></a>
                                    <a href="error-500.html" class="dropdown-item"><span data-lang="error-500">500 Internal Server</span></a>
                                    <a href="error-maintenance.html" class="dropdown-item"><span data-lang="error-maintenance">Maintenance</span></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle drop-arrow-none" href="#" id="topnav-layouts" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="menu-icon"><i class="ti ti-table-column fs-xl"></i></span>
                            <span class="menu-text" data-lang="layouts">Layouts</span>
                            <div class="menu-arrow"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-layouts">
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-submenu-layout-options" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span data-lang="layout-options">Layout Options</span>
                                    <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-submenu-layout-options">
                                    <a href="layouts-scrollable.html" class="dropdown-item" target="_blank"><span data-lang="layouts-scrollable">Scrollable</span></a>
                                    <a href="layouts-compact.html" class="dropdown-item" target="_blank"><span data-lang="layouts-compact">Compact</span></a>
                                    <a href="layouts-boxed.html" class="dropdown-item" target="_blank"><span data-lang="layouts-boxed">Boxed</span></a>
                                    <a href="layouts-horizontal.html" class="dropdown-item" target="_blank"><span data-lang="layouts-horizontal">Horizontal</span></a>
                                    <a href="layouts-preloader.html" class="dropdown-item" target="_blank"><span data-lang="layouts-preloader">Preloader</span></a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-submenu-sidebars" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span data-lang="sidebars">Sidebars</span>
                                    <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-submenu-sidebars">
                                    <a href="layouts-sidebar-light.html" class="dropdown-item" target="_blank"><span data-lang="layouts-sidebar-light">Light Menu</span></a>
                                    <a href="layouts-sidebar-gradient.html" class="dropdown-item" target="_blank"><span data-lang="layouts-sidebar-gradient">Gradient Menu</span></a>
                                    <a href="layouts-sidebar-gray.html" class="dropdown-item" target="_blank"><span data-lang="layouts-sidebar-gray">Gray Menu</span></a>
                                    <a href="layouts-sidebar-image.html" class="dropdown-item" target="_blank"><span data-lang="layouts-sidebar-image">Image Menu</span></a>
                                    <a href="layouts-sidebar-compact.html" class="dropdown-item" target="_blank"><span data-lang="layouts-sidebar-compact">Compact Menu</span></a>
                                    <a href="layouts-sidebar-on-hover.html" class="dropdown-item" target="_blank"><span data-lang="layouts-sidebar-on-hover">On Hover Menu</span></a>
                                    <a href="layouts-sidebar-on-hover-active.html" class="dropdown-item" target="_blank"><span data-lang="layouts-sidebar-on-hover-active">On Hover Active</span></a>
                                    <a href="layouts-sidebar-offcanvas.html" class="dropdown-item" target="_blank"><span data-lang="layouts-sidebar-offcanvas">Offcanvas Menu</span></a>
                                    <a href="layouts-sidebar-no-icons.html" class="dropdown-item" target="_blank"><span data-lang="layouts-sidebar-no-icons">No Icons with Lines</span></a>
                                    <a href="layouts-sidebar-with-lines.html" class="dropdown-item" target="_blank"><span data-lang="layouts-sidebar-with-lines">Sidebar with Lines</span></a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle drop-arrow-none" href="#" id="topnav-submenu-topbar" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span data-lang="topbar">Topbar</span>
                                    <div class="menu-arrow"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-submenu-topbar">
                                    <a href="layouts-topbar-dark.html" class="dropdown-item" target="_blank"><span data-lang="layouts-topbar-dark">Dark Topbar</span></a>
                                    <a href="layouts-topbar-gray.html" class="dropdown-item" target="_blank"><span data-lang="layouts-topbar-gray">Gray Topbar</span></a>
                                    <a href="layouts-topbar-gradient.html" class="dropdown-item" target="_blank"><span data-lang="layouts-topbar-gradient">Gradient Topbar</span></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle drop-arrow-none" href="#" id="topnav-components" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="menu-icon"><i class="ti ti-components fs-xl"></i></span>
                            <span class="menu-text" data-lang="components">Components</span>
                            <div class="menu-arrow"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-components">
                            <a href="icons-tabler.html" class="dropdown-item"><span data-lang="icons-tabler">Tabler</span></a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </nav>
</header>
<!-- Horizontal Menu End -->
