.ticker {
  --gap-padding: 12px;
  height: auto;
  border-radius: 8px;
  box-shadow: var(--card-shadow);
  background-color: var(--base-bg, #fff);
  border: none;
  padding: 16px;
  display: flex;
  gap: var(--gap-padding);
  align-items: center;

  &.success, &.green {
    .icon-wrapper, .percentage {
      background-color: color-mix(in sRGB, var(--success-color, #28a745) 12%, transparent);
      color: var(--success-color, #28a745);
    }
  }

  &.warning, &.amber {
    .icon-wrapper, .percentage {
      background-color: color-mix(in sRGB, var(--warning-color, #ffc107) 12%, transparent);
      color: var(--icon-dark-warning-color, #856404);
    }
  }

  &.delivery {
    .icon-wrapper {
      background-color: color-mix(in sRGB, var(--warning-color, #ee03f7) 12%, transparent);
      color: var(--icon-dark-warning-color, #ee03f7);
    }
  }

  &.info {
    .icon-wrapper {
      background-color: color-mix(in sRGB, var(--info-color, #17a2b8) 12%, transparent);
      color: var(--info-color, #17a2b8);
    }
  }

  &.negative, &.red {
    .icon-wrapper, .percentage {
      background-color: color-mix(in sRGB, var(--error-color, #dc3545) 12%, transparent);
      color: var(--error-color, #dc3545);
    }
  }

  .icon-wrapper {
    display: flex;
    flex: 0 0 48px;
    height: 48px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    i {
      font-size: 24px;
    }
  }

  .middle {
    flex: 1;

    .title {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 8px;
    }

    .value {
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      color: var(--base-text-color);
    }

    .total {
      font-size: 14px;
      line-height: 20px;
      color: var(--secondary-text-color);
    }
  }

  .percentage {
    display: flex;
    align-self: flex-start;
    border-radius: 999px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    align-items: center;
    padding: 4px 8px;

    &.positive {
      background-color: color-mix(in sRGB, var(--success-color) 12%, transparent);
      color: var(--success-color);
    }

    &.negative {
      background-color: color-mix(in sRGB, var(--error-color) 12%, transparent);
      color: var(--error-color);
    }

    .value {
      line-height: 20px;
    }

    i {
      font-size: 20px;
      margin-right: 4px;
    }
  }
}