@use "../../variables.scss" as *;

:root {
  --left-panel-width: 400px;
  --right-panel-width: 360px;
}
.view-wrapper-scroll {
  width: 100%;
  margin-top: calc(var(--content-padding) / 2);
  max-height: calc(100% - var(--toolbar-height));
}
.view-wrapper-list {
  position: relative;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding-top: var(--content-padding);
  padding-bottom: var(--content-padding);



  
  .dx-toolbar.toolbar-common {
  height: 75px;
    padding: var(--content-padding);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px; // Add space between toolbar items
    margin-bottom: calc(var(--toolbar-margin-bottom) / 1);

    .toolbar-header {
      margin-left: 30px;
      @include header();
      flex: 1 1 100%; // Take full width on small screens
    }

    .date-container {
      display: flex;
      flex-wrap: nowrap;
      gap: 20px; // Add gap between date boxes
      align-items: center; // Center items vertically
      margin-bottom: 10px; // Add space below the date container
      margin-right: 20px;

      .label {
       text-align: center;
     
      }

      .date-box {
        width: 200px; // Fixed width for date boxes
        padding: 1px;
        margin-top:10px;

        //border: 1px solid #ccc;
      //  border-radius: 4px;
//background-color: #f9f9f9;
      }

    }
  }

  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0 var(--content-padding);
  }

 

}
