<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <!-- WebSocket support for SignalR -->
      <webSocket enabled="true" />

      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>

      <aspNetCore processPath="dotnet" arguments=".\FMS.WebClient.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>

      <!-- Request Filtering - Increase limits for SignalR with JWT tokens -->
      <security>
        <requestFiltering>
          <!-- maxAllowedContentLength in bytes (200MB) -->
          <requestLimits maxQueryString="32768" maxUrl="16384" maxAllowedContentLength="209715200" />
        </requestFiltering>
      </security>

      <!-- HTTP Protocol Settings - Increase header limits -->
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
        </customHeaders>
      </httpProtocol>

    </system.webServer>
  </location>

  <system.webServer>
    <!-- Failed Request Tracing for debugging -->
    <tracing>
      <traceFailedRequests>
        <add path="*">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose" />
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
            <add provider="ISAPI Extension" verbosity="Verbose" />
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket,ANCM,Rewrite,RequestRouting" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions statusCodes="400-503" />
        </add>
      </traceFailedRequests>
    </tracing>
  </system.webServer>
</configuration>
<!--ProjectGuid: 11EFDF72-72FB-4E92-B9A5-040A60B9AD6A-->
