@use "../../variables.scss" as *;

.form-popup .dx-toolbar-center {
    width: 100%;
  }
  
  .form-popup-buttons-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--popup-toolbar-item-spacing);
  
    .form-popup-buttons-container .dx-button {
      margin-right: 10px !important; /* Adjust this value to your desired gap */    }
    
    .form-popup-buttons-container .dx-button:last-child {
      margin-right: 0 !important; /* Ensure the last button has no right margin */    }
  }