<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="10.0.10.150_gpsdata_Connection" connectionString="XpoProvider=MySql;server=10.0.10.150;port=3306;user id=root; password=Niwewenamimi1000; database=gpsdata;persist security info=true;CharSet=utf8;" />
    </connectionStrings>
</configuration>