<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="C:\FMSlogs\nlog-internal.log">

    <targets>
      <target xsi:type="File" name="logfile"
              fileName="c:\FMSlogs\FMS-${shortdate}.log"
              layout="${longdate} ${level:uppercase=true} ${logger} ${message} ${exception:format=ToString}"
              archiveFileName="c:\FMSlogs\archives\FMS-{#}.log"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="30" />
    </targets>

    <rules>
      <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>

</nlog>
