<div class="topnav top-topbar-height border-default-300 fixed z-30 flex w-full items-center border-b bg-(--sidenav-bg)">
    <!-- Secondary Navbar -->
    <div class="container-fluid">
        <nav id="topnav-menu" class="hs-collapse hidden grow basis-full overflow-hidden transition-all duration-300 lg:block" aria-labelledby="topnav-menu-collapse">
            <ul class="navbar-nav flex">
                <li class="nav-item">
                    <div class="hs-dropdown [--adaptive:none] [--is-collapse:true] [--strategy:static] md:[--adaptive:adaptive] md:[--is-collapse:false] md:[--strategy:fixed]">
                        <button id="topnav-main" type="button" class="hs-dropdown-toggle nav-link" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
                            <span class="menu-icon"><i class="iconify tabler--dashboard text-lg"></i></span>
                            <span class="menu-text" data-lang="main">Main</span>
                            <div class="menu-arrow"></div>
                        </button>
                        <div
                            class="hs-dropdown-menu hs-dropdown-open:opacity-100 relative top-full z-10 hidden w-full ps-7 opacity-0 transition-[opacity,margin] duration-[0.1ms] before:absolute before:start-0 before:-top-4 before:h-5 before:w-full after:absolute after:start-2 after:top-1 after:h-[calc(100%-4px)] after:w-0.5 after:bg-gray-100 md:w-52 md:rounded-lg md:bg-white md:ps-1 md:shadow-md md:duration-[150ms] md:after:hidden dark:after:bg-neutral-700 dark:md:bg-neutral-800"
                            role="menu"
                            aria-orientation="vertical"
                            aria-labelledby="topnav-main"
                        >
                            <a href="dashboard-projects.html" class="dropdown-item"><span data-lang="dashboard-projects">Projects</span></a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="hs-dropdown [--adaptive:none] [--is-collapse:true] [--strategy:static] md:[--adaptive:adaptive] md:[--is-collapse:false] md:[--strategy:fixed]">
                        <button id="topnav-custom-pages" type="button" class="hs-dropdown-toggle nav-link" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
                            <span class="menu-icon"><i class="iconify tabler--files text-lg"></i></span>
                            <span class="menu-text" data-lang="custom-pages">Custom Pages</span>
                            <div class="menu-arrow"></div>
                        </button>
                        <div
                            class="hs-dropdown-menu hs-dropdown-open:opacity-100 relative top-full z-10 hidden w-full ps-7 opacity-0 transition-[opacity,margin] duration-[0.1ms] before:absolute before:start-0 before:-top-4 before:h-5 before:w-full after:absolute after:start-2 after:top-1 after:h-[calc(100%-4px)] after:w-0.5 after:bg-gray-100 md:w-52 md:rounded-lg md:bg-white md:ps-1 md:shadow-md md:duration-[150ms] md:after:hidden dark:after:bg-neutral-700 dark:md:bg-neutral-800"
                            role="menu"
                            aria-orientation="vertical"
                            aria-labelledby="topnav-custom-pages"
                        >
                            <a href="pages-empty.html" class="dropdown-item"><span data-lang="pages-empty">Empty Page</span></a>
                            <div class="hs-dropdown relative [--adaptive:none] [--is-collapse:true] [--strategy:static] md:[--is-collapse:false] md:[--strategy:absolute] md:[--trigger:hover]">
                                <button id="topnav-submenu-authentication" type="button" class="hs-dropdown-toggle dropdown-item w-full text-start flex items-center justify-between">
                                    <span data-lang="authentication">Authentication</span>
                                    <div class="menu-arrow"></div>
                                </button>
                                <div
                                    class="hs-dropdown-menu hs-dropdown-open:opacity-100 relative z-10 hidden ps-7 opacity-0 transition-[opacity,margin] duration-[0.1ms] before:absolute before:-end-5 before:top-0 before:hidden before:h-full before:w-5 after:absolute after:start-2 after:top-1 after:h-[calc(100%-4px)] after:w-0.5 after:bg-gray-100 md:end-full md:top-0 md:mx-2.5! md:mt-2 md:w-48 md:rounded-lg md:bg-white md:ps-1 md:shadow-md md:duration-[150ms] md:before:block md:after:hidden dark:divide-neutral-700 dark:bg-neutral-800 dark:after:bg-neutral-700 dark:md:bg-neutral-800"
                                    role="menu"
                                    aria-orientation="vertical"
                                    aria-labelledby="topnav-submenu-authentication"
                                >
                                    <div class="hs-dropdown relative [--adaptive:none] [--is-collapse:true] [--strategy:static] md:[--is-collapse:false] md:[--strategy:absolute] md:[--trigger:hover]">
                                        <button id="topnav-submenu-auth-basic" type="button" class="hs-dropdown-toggle dropdown-item w-full text-start flex items-center justify-between">
                                            <span data-lang="auth-basic">Basic</span>
                                            <div class="menu-arrow"></div>
                                        </button>
                                        <div
                                            class="hs-dropdown-menu hs-dropdown-open:opacity-100 relative z-10 hidden ps-7 opacity-0 transition-[opacity,margin] duration-[0.1ms] before:absolute before:-end-5 before:top-0 before:hidden before:h-full before:w-5 after:absolute after:start-2 after:top-1 after:h-[calc(100%-4px)] after:w-0.5 after:bg-gray-100 md:end-full md:top-0 md:mx-2.5! md:mt-2 md:w-48 md:rounded-lg md:bg-white md:ps-1 md:shadow-md md:duration-[150ms] md:before:block md:after:hidden dark:divide-neutral-700 dark:bg-neutral-800 dark:after:bg-neutral-700 dark:md:bg-neutral-800"
                                            role="menu"
                                            aria-orientation="vertical"
                                            aria-labelledby="topnav-submenu-auth-basic"
                                        >
                                            <a href="auth-sign-in.html" class="dropdown-item"><span data-lang="auth-sign-in">Sign In</span></a>
                                            <a href="auth-sign-up.html" class="dropdown-item"><span data-lang="auth-sign-up">Sign Up</span></a>
                                            <a href="auth-reset-pass.html" class="dropdown-item"><span data-lang="auth-reset-pass">Reset Password</span></a>
                                            <a href="auth-new-pass.html" class="dropdown-item"><span data-lang="auth-new-pass">New Password</span></a>
                                            <a href="auth-two-factor.html" class="dropdown-item"><span data-lang="auth-two-factor">Two Factor</span></a>
                                            <a href="auth-lock-screen.html" class="dropdown-item"><span data-lang="auth-lock-screen">Lock Screen</span></a>
                                            <a href="auth-success-mail.html" class="dropdown-item"><span data-lang="auth-success-mail">Success Mail</span></a>
                                            <a href="auth-login-pin.html" class="dropdown-item"><span data-lang="auth-login-pin">Login with PIN</span></a>
                                            <a href="auth-delete-account.html" class="dropdown-item"><span data-lang="auth-delete-account">Delete Account</span></a>
                                        </div>
                                    </div>
                                    <div class="hs-dropdown relative [--adaptive:none] [--is-collapse:true] [--strategy:static] md:[--is-collapse:false] md:[--strategy:absolute] md:[--trigger:hover]">
                                        <button id="topnav-submenu-auth-card" type="button" class="hs-dropdown-toggle dropdown-item w-full text-start flex items-center justify-between">
                                            <span data-lang="auth-card">Card</span>
                                            <div class="menu-arrow"></div>
                                        </button>
                                        <div
                                            class="hs-dropdown-menu hs-dropdown-open:opacity-100 relative z-10 hidden ps-7 opacity-0 transition-[opacity,margin] duration-[0.1ms] before:absolute before:-end-5 before:top-0 before:hidden before:h-full before:w-5 after:absolute after:start-2 after:top-1 after:h-[calc(100%-4px)] after:w-0.5 after:bg-gray-100 md:end-full md:top-0 md:mx-2.5! md:mt-2 md:w-48 md:rounded-lg md:bg-white md:ps-1 md:shadow-md md:duration-[150ms] md:before:block md:after:hidden dark:divide-neutral-700 dark:bg-neutral-800 dark:after:bg-neutral-700 dark:md:bg-neutral-800"
                                            role="menu"
                                            aria-orientation="vertical"
                                            aria-labelledby="topnav-submenu-auth-card"
                                        >
                                            <a href="auth-card-sign-in.html" class="dropdown-item"><span data-lang="auth-card-sign-in">Sign In</span></a>
                                            <a href="auth-card-sign-up.html" class="dropdown-item"><span data-lang="auth-card-sign-up">Sign Up</span></a>
                                            <a href="auth-card-reset-pass.html" class="dropdown-item"><span data-lang="auth-card-reset-pass">Reset Password</span></a>
                                            <a href="auth-card-new-pass.html" class="dropdown-item"><span data-lang="auth-card-new-pass">New Password</span></a>
                                            <a href="auth-card-two-factor.html" class="dropdown-item"><span data-lang="auth-card-two-factor">Two Factor</span></a>
                                            <a href="auth-card-lock-screen.html" class="dropdown-item"><span data-lang="auth-card-lock-screen">Lock Screen</span></a>
                                            <a href="auth-card-success-mail.html" class="dropdown-item"><span data-lang="auth-card-success-mail">Success Mail</span></a>
                                            <a href="auth-card-login-pin.html" class="dropdown-item"><span data-lang="auth-card-login-pin">Login with PIN</span></a>
                                            <a href="auth-card-delete-account.html" class="dropdown-item"><span data-lang="auth-card-delete-account">Delete Account</span></a>
                                        </div>
                                    </div>
                                    <div class="hs-dropdown relative [--adaptive:none] [--is-collapse:true] [--strategy:static] md:[--is-collapse:false] md:[--strategy:absolute] md:[--trigger:hover]">
                                        <button id="topnav-submenu-auth-split" type="button" class="hs-dropdown-toggle dropdown-item w-full text-start flex items-center justify-between">
                                            <span data-lang="auth-split">Split</span>
                                            <div class="menu-arrow"></div>
                                        </button>
                                        <div
                                            class="hs-dropdown-menu hs-dropdown-open:opacity-100 relative z-10 hidden ps-7 opacity-0 transition-[opacity,margin] duration-[0.1ms] before:absolute before:-end-5 before:top-0 before:hidden before:h-full before:w-5 after:absolute after:start-2 after:top-1 after:h-[calc(100%-4px)] after:w-0.5 after:bg-gray-100 md:end-full md:top-0 md:mx-2.5! md:mt-2 md:w-48 md:rounded-lg md:bg-white md:ps-1 md:shadow-md md:duration-[150ms] md:before:block md:after:hidden dark:divide-neutral-700 dark:bg-neutral-800 dark:after:bg-neutral-700 dark:md:bg-neutral-800"
                                            role="menu"
                                            aria-orientation="vertical"
                                            aria-labelledby="topnav-submenu-auth-split"
                                        >
                                            <a href="auth-split-sign-in.html" class="dropdown-item"><span data-lang="auth-split-sign-in">Sign In</span></a>
                                            <a href="auth-split-sign-up.html" class="dropdown-item"><span data-lang="auth-split-sign-up">Sign Up</span></a>
                                            <a href="auth-split-reset-pass.html" class="dropdown-item"><span data-lang="auth-split-reset-pass">Reset Password</span></a>
                                            <a href="auth-split-new-pass.html" class="dropdown-item"><span data-lang="auth-split-new-pass">New Password</span></a>
                                            <a href="auth-split-two-factor.html" class="dropdown-item"><span data-lang="auth-split-two-factor">Two Factor</span></a>
                                            <a href="auth-split-lock-screen.html" class="dropdown-item"><span data-lang="auth-split-lock-screen">Lock Screen</span></a>
                                            <a href="auth-split-success-mail.html" class="dropdown-item"><span data-lang="auth-split-success-mail">Success Mail</span></a>
                                            <a href="auth-split-login-pin.html" class="dropdown-item"><span data-lang="auth-split-login-pin">Login with PIN</span></a>
                                            <a href="auth-split-delete-account.html" class="dropdown-item"><span data-lang="auth-split-delete-account">Delete Account</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hs-dropdown relative [--adaptive:none] [--is-collapse:true] [--strategy:static] md:[--is-collapse:false] md:[--strategy:absolute] md:[--trigger:hover]">
                                <button id="topnav-submenu-error-pages" type="button" class="hs-dropdown-toggle dropdown-item w-full text-start flex items-center justify-between">
                                    <span data-lang="error-pages">Error Pages</span>
                                    <div class="menu-arrow"></div>
                                </button>
                                <div
                                    class="hs-dropdown-menu hs-dropdown-open:opacity-100 relative z-10 hidden ps-7 opacity-0 transition-[opacity,margin] duration-[0.1ms] before:absolute before:-end-5 before:top-0 before:hidden before:h-full before:w-5 after:absolute after:start-2 after:top-1 after:h-[calc(100%-4px)] after:w-0.5 after:bg-gray-100 md:end-full md:top-0 md:mx-2.5! md:mt-2 md:w-48 md:rounded-lg md:bg-white md:ps-1 md:shadow-md md:duration-[150ms] md:before:block md:after:hidden dark:divide-neutral-700 dark:bg-neutral-800 dark:after:bg-neutral-700 dark:md:bg-neutral-800"
                                    role="menu"
                                    aria-orientation="vertical"
                                    aria-labelledby="topnav-submenu-error-pages"
                                >
                                    <a href="error-400.html" class="dropdown-item"><span data-lang="error-400">400 Bad Request</span></a>
                                    <a href="error-401.html" class="dropdown-item"><span data-lang="error-401">401 Unauthorized</span></a>
                                    <a href="error-403.html" class="dropdown-item"><span data-lang="error-403">403 Forbidden</span></a>
                                    <a href="error-404.html" class="dropdown-item"><span data-lang="error-404">404 Not Found</span></a>
                                    <a href="error-408.html" class="dropdown-item"><span data-lang="error-408">408 Request Timeout</span></a>
                                    <a href="error-500.html" class="dropdown-item"><span data-lang="error-500">500 Internal Server</span></a>
                                    <a href="error-maintenance.html" class="dropdown-item"><span data-lang="error-maintenance">Maintenance</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="hs-dropdown [--adaptive:none] [--is-collapse:true] [--strategy:static] md:[--adaptive:adaptive] md:[--is-collapse:false] md:[--strategy:fixed]">
                        <button id="topnav-layouts" type="button" class="hs-dropdown-toggle nav-link" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
                            <span class="menu-icon"><i class="iconify tabler--table-column text-lg"></i></span>
                            <span class="menu-text" data-lang="layouts">Layouts</span>
                            <div class="menu-arrow"></div>
                        </button>
                        <div
                            class="hs-dropdown-menu hs-dropdown-open:opacity-100 relative top-full z-10 hidden w-full ps-7 opacity-0 transition-[opacity,margin] duration-[0.1ms] before:absolute before:start-0 before:-top-4 before:h-5 before:w-full after:absolute after:start-2 after:top-1 after:h-[calc(100%-4px)] after:w-0.5 after:bg-gray-100 md:w-52 md:rounded-lg md:bg-white md:ps-1 md:shadow-md md:duration-[150ms] md:after:hidden dark:after:bg-neutral-700 dark:md:bg-neutral-800"
                            role="menu"
                            aria-orientation="vertical"
                            aria-labelledby="topnav-layouts"
                        >
                            <div class="hs-dropdown relative [--adaptive:none] [--is-collapse:true] [--strategy:static] md:[--is-collapse:false] md:[--strategy:absolute] md:[--trigger:hover]">
                                <button id="topnav-submenu-layout-options" type="button" class="hs-dropdown-toggle dropdown-item w-full text-start flex items-center justify-between">
                                    <span data-lang="layout-options">Layout Options</span>
                                    <div class="menu-arrow"></div>
                                </button>
                                <div
                                    class="hs-dropdown-menu hs-dropdown-open:opacity-100 relative z-10 hidden ps-7 opacity-0 transition-[opacity,margin] duration-[0.1ms] before:absolute before:-end-5 before:top-0 before:hidden before:h-full before:w-5 after:absolute after:start-2 after:top-1 after:h-[calc(100%-4px)] after:w-0.5 after:bg-gray-100 md:end-full md:top-0 md:mx-2.5! md:mt-2 md:w-48 md:rounded-lg md:bg-white md:ps-1 md:shadow-md md:duration-[150ms] md:before:block md:after:hidden dark:divide-neutral-700 dark:bg-neutral-800 dark:after:bg-neutral-700 dark:md:bg-neutral-800"
                                    role="menu"
                                    aria-orientation="vertical"
                                    aria-labelledby="topnav-submenu-layout-options"
                                >
                                    <a href="layouts-scrollable.html" class="dropdown-item" target="_blank"><span data-lang="layouts-scrollable">Scrollable</span></a>
                                    <a href="layouts-compact.html" class="dropdown-item" target="_blank"><span data-lang="layouts-compact">Compact</span></a>
                                    <a href="layouts-boxed.html" class="dropdown-item" target="_blank"><span data-lang="layouts-boxed">Boxed</span></a>
                                    <a href="layouts-horizontal.html" class="dropdown-item" target="_blank"><span data-lang="layouts-horizontal">Horizontal</span></a>
                                    <a href="layouts-preloader.html" class="dropdown-item" target="_blank"><span data-lang="layouts-preloader">Preloader</span></a>
                                </div>
                            </div>
                            <div class="hs-dropdown relative [--adaptive:none] [--is-collapse:true] [--strategy:static] md:[--is-collapse:false] md:[--strategy:absolute] md:[--trigger:hover]">
                                <button id="topnav-submenu-sidebars" type="button" class="hs-dropdown-toggle dropdown-item w-full text-start flex items-center justify-between">
                                    <span data-lang="sidebars">Sidebars</span>
                                    <div class="menu-arrow"></div>
                                </button>
                                <div
                                    class="hs-dropdown-menu hs-dropdown-open:opacity-100 relative z-10 hidden ps-7 opacity-0 transition-[opacity,margin] duration-[0.1ms] before:absolute before:-end-5 before:top-0 before:hidden before:h-full before:w-5 after:absolute after:start-2 after:top-1 after:h-[calc(100%-4px)] after:w-0.5 after:bg-gray-100 md:end-full md:top-0 md:mx-2.5! md:mt-2 md:w-48 md:rounded-lg md:bg-white md:ps-1 md:shadow-md md:duration-[150ms] md:before:block md:after:hidden dark:divide-neutral-700 dark:bg-neutral-800 dark:after:bg-neutral-700 dark:md:bg-neutral-800"
                                    role="menu"
                                    aria-orientation="vertical"
                                    aria-labelledby="topnav-submenu-sidebars"
                                >
                                    <a href="layouts-sidebar-light.html" class="dropdown-item" target="_blank"><span data-lang="layouts-sidebar-light">Light Menu</span></a>
                                    <a href="layouts-sidebar-gradient.html" class="dropdown-item" target="_blank"><span data-lang="layouts-sidebar-gradient">Gradient Menu</span></a>
                                    <a href="layouts-sidebar-gray.html" class="dropdown-item" target="_blank"><span data-lang="layouts-sidebar-gray">Gray Menu</span></a>
                                    <a href="layouts-sidebar-image.html" class="dropdown-item" target="_blank"><span data-lang="layouts-sidebar-image">Image Menu</span></a>
                                    <a href="layouts-sidebar-compact.html" class="dropdown-item" target="_blank"><span data-lang="layouts-sidebar-compact">Compact Menu</span></a>
                                    <a href="layouts-sidebar-on-hover.html" class="dropdown-item" target="_blank"><span data-lang="layouts-sidebar-on-hover">On Hover Menu</span></a>
                                    <a href="layouts-sidebar-on-hover-active.html" class="dropdown-item" target="_blank"><span data-lang="layouts-sidebar-on-hover-active">On Hover Active</span></a>
                                    <a href="layouts-sidebar-offcanvas.html" class="dropdown-item" target="_blank"><span data-lang="layouts-sidebar-offcanvas">Offcanvas Menu</span></a>
                                    <a href="layouts-sidebar-no-icons.html" class="dropdown-item" target="_blank"><span data-lang="layouts-sidebar-no-icons">No Icons with Lines</span></a>
                                    <a href="layouts-sidebar-with-lines.html" class="dropdown-item" target="_blank"><span data-lang="layouts-sidebar-with-lines">Sidebar with Lines</span></a>
                                </div>
                            </div>
                            <div class="hs-dropdown relative [--adaptive:none] [--is-collapse:true] [--strategy:static] md:[--is-collapse:false] md:[--strategy:absolute] md:[--trigger:hover]">
                                <button id="topnav-submenu-topbar" type="button" class="hs-dropdown-toggle dropdown-item w-full text-start flex items-center justify-between">
                                    <span data-lang="topbar">Topbar</span>
                                    <div class="menu-arrow"></div>
                                </button>
                                <div
                                    class="hs-dropdown-menu hs-dropdown-open:opacity-100 relative z-10 hidden ps-7 opacity-0 transition-[opacity,margin] duration-[0.1ms] before:absolute before:-end-5 before:top-0 before:hidden before:h-full before:w-5 after:absolute after:start-2 after:top-1 after:h-[calc(100%-4px)] after:w-0.5 after:bg-gray-100 md:end-full md:top-0 md:mx-2.5! md:mt-2 md:w-48 md:rounded-lg md:bg-white md:ps-1 md:shadow-md md:duration-[150ms] md:before:block md:after:hidden dark:divide-neutral-700 dark:bg-neutral-800 dark:after:bg-neutral-700 dark:md:bg-neutral-800"
                                    role="menu"
                                    aria-orientation="vertical"
                                    aria-labelledby="topnav-submenu-topbar"
                                >
                                    <a href="layouts-topbar-dark.html" class="dropdown-item" target="_blank"><span data-lang="layouts-topbar-dark">Dark Topbar</span></a>
                                    <a href="layouts-topbar-gray.html" class="dropdown-item" target="_blank"><span data-lang="layouts-topbar-gray">Gray Topbar</span></a>
                                    <a href="layouts-topbar-gradient.html" class="dropdown-item" target="_blank"><span data-lang="layouts-topbar-gradient">Gradient Topbar</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="hs-dropdown [--adaptive:none] [--is-collapse:true] [--strategy:static] md:[--adaptive:adaptive] md:[--is-collapse:false] md:[--strategy:fixed]">
                        <button id="topnav-components" type="button" class="hs-dropdown-toggle nav-link" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
                            <span class="menu-icon"><i class="iconify tabler--components text-lg"></i></span>
                            <span class="menu-text" data-lang="components">Components</span>
                            <div class="menu-arrow"></div>
                        </button>
                        <div
                            class="hs-dropdown-menu hs-dropdown-open:opacity-100 relative top-full z-10 hidden w-full ps-7 opacity-0 transition-[opacity,margin] duration-[0.1ms] before:absolute before:start-0 before:-top-4 before:h-5 before:w-full after:absolute after:start-2 after:top-1 after:h-[calc(100%-4px)] after:w-0.5 after:bg-gray-100 md:w-52 md:rounded-lg md:bg-white md:ps-1 md:shadow-md md:duration-[150ms] md:after:hidden dark:after:bg-neutral-700 dark:md:bg-neutral-800"
                            role="menu"
                            aria-orientation="vertical"
                            aria-labelledby="topnav-components"
                        >
                            <a href="icons-tabler.html" class="dropdown-item"><span data-lang="icons-tabler">Tabler</span></a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    <!-- End Secondary Navbar -->
</div>
<!-- Topbar End -->
